.collapsible {
  position: relative;

  .collapser {
    transition: transform 0.2s linear 0s;
  }

  .collapser.icon {
    vertical-align: middle;
    position: absolute;
    // left: 0;
    line-height: inherit;
  }

  .collapsible-header {
    cursor: pointer;
  }

  &:not(&--collapsed) {
    .collapsible-header:hover .collapser {
      transform: rotate(-90deg);
    }
  }

  &--collapsed {
    .collapser {
      transform: rotate(-90deg);
    }

    // .collapsible-header:hover .collapser {
    //   transform: rotate(0deg);
    // }
  }
}
