.root {
  &__screen {
    position: relative;
  }

  &--with-banner &__screen {
    margin-top: @content-top-offset + @whitespace;
  }

  .layout__sidebar-header {
    line-height: 1.56;
    margin: 1em 0;
  }
}

.widescreen({
  .root__screen {
    width: @content-widescreen-width;
    margin-left: auto;
    margin-right: auto;
  }
});

.schemable({
  .layout__sidebar-header {
    color: @base1;
  }
});