.two-column-layout {
  &--inverted &__left {
    right: 0;
  }

  &__left {
    position: fixed;
    bottom: 0;
    top: @content-top-offset;
    font-size: 0.85em;
    z-index: 1;
    // min-width: 160px;

    transition: width 0.3s ease 0s;

    .resizable-panel__content {
      padding-top: @whitespace;
      padding-right: @whitespace;
      padding-bottom: @whitespace;
      overflow: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--collapsed {
      width: 0;
      // .resizable-panel__content { opacity: 0; }
    }
  }

  &__collapse-btn {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0;
    // width:  48px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1;
  }

  &__right {
    padding-left: @whitespace * 2;
  }
}

.root--with-single-page-layout {
  .two-column-layout {
    // TODO: this should _definitely_ not be done here
    .resizable-panel__content {
      padding: 0 1em;
    }

    &__left {
      top: 0;
    }

    &__left--collapsed {
      .resizable-panel__content {
        visibility: hidden;
      }
    }
  }
}

.schemable({
  .two-column-layout__left {
    background: @base3;

    .ui-resizable-handle {
      background: @base2;
    }
  }

  .two-column-layout__collapse-btn {
    background-color: transparent;
    color: darken(@base2, 15%);

    &:hover {
      color: @base0;
    }
  }
});