@font-face {
	font-family: 'tinydoc';
	src:url('fonts/tinydoc.eot?88m5np');
	src:url('fonts/tinydoc.eot?#iefix88m5np') format('embedded-opentype'),
		url('fonts/tinydoc.ttf?88m5np') format('truetype'),
		url('fonts/tinydoc.woff?88m5np') format('woff'),
		url('fonts/tinydoc.svg?88m5np#tinydoc') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'tinydoc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pulse:before {
	content: "\e612";
}
.icon-search:before {
	content: "\e60f";
}
.icon-cog:before {
	content: "\e611";
}
.icon-spinner:before {
	content: "\eb26";
}
.icon-cube:before {
	content: "\ec17";
}
.icon-earth:before {
	content: "\ec93";
}
.icon-link:before {
	content: "\ec96";
}
.icon-contrast:before {
	content: "\ecd4";
}
.icon-checkbox-checked:before {
	content: "\ee63";
}
.icon-checkbox-unchecked:before {
	content: "\ee64";
}
.icon-radio-unchecked:before {
	content: "\ee70";
}
.icon-radio-checked:before {
	content: "\ee76";
}
.icon-ruby .path1:before {
	content: "\e604";
	color: rgb(172, 74, 52);
}
.icon-ruby .path2:before {
	content: "\e605";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path3:before {
	content: "\e606";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path4:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path5:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path6:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path7:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path8:before {
	content: "\e60b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-ruby .path9:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-javascript .path1:before {
	content: "\e60d";
	color: rgb(240, 219, 79);
}
.icon-javascript .path2:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(50, 51, 48);
}
.icon-bug:before {
	content: "\eb76";
}
.icon-chicken:before {
	content: "\ebbe";
}
.icon-planet:before {
	content: "\ec91";
}
.icon-planet2:before {
	content: "\ec92";
}
.icon-book:before {
	content: "\e610";
}
.icon-arrow-up:before {
	content: "\e600";
}
.icon-arrow-right:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e603";
}
