dist
packages/*/dist
packages/tinydoc/ui
packages/interface-builder
packages/tinydoc-plugin-react
packages/tinydoc-plugin-markdown/ui/components/ClassBrowser.js

doc/compiled
packages/*/doc/compiled

node_modules

karma.conf.js

tmp
packages/*/tmp

coverage

ui/css/fonts/**/*/demo.js
ui/vendor/**/*

**/*.tmpl.js
