{
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "overrides": [
    {
      "files": [ "**/lib/**/*.js", "**/megadoc-test-utils/*.js" ],
      "env": {
        "node": true,
        "es6": true
      }
    },

    {
      "files": [ "**/lib/**/*.test.js", "**/ui/**/*.test.js" ],
      "env": {
        "mocha": true
      },

      "plugins": [
        "mocha"
      ],

      "rules": {
        "mocha/no-exclusive-tests": 2,
      }
    },
    {
      "files": [ "**/ui/**/*.js" ],
      "env": {
        "browser": true,
        "es6": true
      },
      "globals": {
        "module": false,
        "require": false,
        "exports": false,
        "process": false
      },

      "plugins": [
        "react"
      ],

      "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
          "jsx": true
        }
      },

      "rules": {
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 2,
      }
    }
  ],

  "rules": {
    "curly": [2, "multi-line"],
    "dot-location": [2, "property"],
    "no-caller": 2,
    "no-cond-assign": [2, "except-parens"],
    "no-debugger": 2,
    "no-delete-var": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-else-return": 0,
    "no-empty": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-semi": 0,
    "no-fallthrough": 2,
    "no-func-assign": 2,
    "no-implied-eval": 2,
    "no-inner-declarations": 2,
    "no-irregular-whitespace": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-negated-in-lhs": 2,
    "no-new": 2,
    "no-redeclare": 2,
    "no-return-assign": [2, "always"],
    "no-sequences": 2,
    "no-shadow": 2,
    "no-sparse-arrays": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-unreachable": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "radix": 2,
    "strict": 0,
    "use-isnan": 2,
    "wrap-iife": [2, "any"],
  }
}