dist
packages/*/dist
packages/interface-builder
packages/megadoc-plugin-react
packages/megadoc-plugin-skeleton
packages/megadoc-plugin-markdown/ui/components/ClassBrowser.js

doc/compiled
packages/*/doc/compiled

node_modules

karma.conf.js

tmp
packages/*/tmp

coverage

packages/megadoc-html-serializer/ui/css/fonts/**/*/demo.js
packages/megadoc-html-serializer/ui/vendor/**/*

**/*.tmpl.js
