{
  "env": {
    "node": true,
    "mocha": true
  },

  "rules": {
    "quotes": 0,
    "strict": 0,
    "no-shadow": 0,
    "comma-dangle": 0,
    "eol-last": 0,
    "space-infix-ops": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
  },
  "globals": {
    "tinydocReact": true
  }
}