/.local.js

/coverage
/packages/*/coverage

/dist
!/dist/.keep
/packages/*/dist
!/packages/megadoc/dist

/doc/compiled
/packages/*/doc/compiled

/node_modules
/packages/*/node_modules
/packages--legacy/*/node_modules

/tmp
!/tmp/.keep
/packages/*/tmp

# font stuff
/ui/css/fonts/*.json
*.zip
demo.html
demo-files
Read Me.txt
selection.json

# runtime junk
npm-debug.log
lerna-debug.log
/examples/*/public
/megadoc.sublime-workspace
/.local
