/.local.js
/.local
/tmp
/.megadoc
/packages
/node_modules

/doc/compiled

__tests__

/coverage

/karma.conf.js
/karma.main.js

/ui/css/fonts/*.json

*.zip
demo.html
demo-files
Read Me.txt
selection.json
