@import (reference) "~helpers";
@import (reference) "~variables";

.class-browser {
  padding-left: 1em;

  &ul, &ol {
    margin: 0;
  }

  &--flat {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  // nested ones / TOCs:
  .class-browser {
    margin-top: 0.5em;
  }
}

.markdown-toc {
  line-height: 1.8rem;
  margin: 0.5rem 0;

  .markdown-toc {
    padding-left: 1.25rem;
    margin: 0;
  }
}

.markdown-toc__entry,
.class-browser__entry {
  list-style: none;
  padding-left: 0;
  margin: 0.25rem 0;
  line-height: 1.2rem;
}

.markdown-toc__entry--collapsible .icon,
.class-browser__entry--collapsible .icon {
  cursor: pointer;
  position: absolute;
  margin-left: -1.25em;
  line-height: inherit;
}

.schemable({
  .class-browser__entry--collapsible .icon {
    color: @base1;
  }
});