.git-stats {
  margin: 2rem 0;
  padding: 1rem 0;

  &__committers {
    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &-list-item {
      list-style-type: none;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.schemable({
  .git-stats {
    color: @base1;
    border-top: 1px solid @base2;
  }
});