.banner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @banner-height;
  z-index: 3;
  border-bottom: @banner-border-dim solid transparent;
}

.banner {
  width: @content-width;
  margin: @whitespace auto;
  height: @banner-inner-height;
  position: relative;
  top: @whitespace/2;

  &__logo {
    margin: 0;
    display: inline-block;
  }

  &__motto {
    font-size: smaller;
    margin: @whitespace 0 0 0;
  }
}

.widescreen({
  .banner {
    margin: @whitespace auto;
    width: @content-widescreen-width;
  }
});

.banner__navigation {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;

  &-item {
    .inline-block();

    a {
      display: block;
    }

    min-width: 156px;
    text-align: center;

    .icon {
      .inline-block();
      font-size: 2.75rem;
      vertical-align: middle;
      margin-right: 0.25em;
    }

    a.active, a:hover {
      text-decoration: none;
    }
  }
}

.schemable({
  .banner-wrapper {
    background: @base3;
    border-bottom-color: @base2;
  }
});