.schemable({
  button.color-scheme-switcher {
    font-size: 15px;
    background: none;
    // background: @base2;
    padding: 0;
    width: 48px;
    vertical-align: middle;
    height: 30px;
    margin-left: -48px;
    margin-top: 4px;
    position: absolute;
    // opacity: 0.5;
  }
});