.banner-wrapper .color-scheme-switcher.btn {
  background: none;
  font-size: 15px;
  padding: 0;
  width: 48px;
  vertical-align: middle;
  height: 30px;
  margin-left: -48px;
  margin-top: 4px;
  position: absolute;
}

.root--with-collapsed-banner .color-scheme-switcher {
  margin-top: -8px;
}