@import "~helpers";
@import "./css/qt--multi-page-layout";
@import "./css/qt--single-page-layout";
@import "./css/qt-js";

@spacing: 2em;
@background: @plain-base02;

body {
  font-size: 100%;
}

a, a.active {
  font-weight: normal;
}

pre, code[class*="language-"], pre[class*="language-"] {
  font-size: 0.9rem;
  line-height: 1.3;
}

code[class*="language-"] {
  background-color: transparent;
}

pre[class*="language-"] {
  .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background-color: transparent;
  }
}

.schemable({
  background: @background;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  a:visited:not(.active) {
    color: lighten(@plain-link, 15%);
  }

  a.mega-link--broken {
    &, &:visited {
      color: @solarized-red;
    }
  }

  .footer {
    margin-top: @spacing;
    margin-bottom: @spacing;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
  }

  .collapser {
    color: lighten(@base1, 15%);
  }

  .class-browser__category {
    margin-bottom: 1em;

  }
  .class-browser__category + .class-browser__category {
    margin-top: 1.75em;
  }

  .class-browser__category-name {
    border-bottom: none;
    padding-bottom: 1em;
    margin: 0;
    color: @base1;
  }

  .class-browser__entry-link {
    margin-bottom: 0.5em;
  }

  .four-oh-four {
    // background: @base3;
    padding: 1em 2em;
    text-align: center;
    text-shadow: 0 1px 2px @base3;
  }
});

.schemable({
  table {
    tr {
      border-top-color: @base2;

      &:nth-child(2n) {
        background-color: white;
      }

      td {
        border-color: @base2;
      }
    }
  }
});

.schemable({
  @keyframes animatedBackgroundColor {
    0%   { background-color: transparent; }
    20%  { background-color: fade(@link, 15%); }
    60%  { background-color: fade(@link, 10%); }
    100% { background-position: transparent; }
  }
  .anchorable-heading__anchor:target + .anchorable-heading__link + .anchorable-heading__text,
  .anchorable-heading__anchor:target + .anchorable-heading__text {
    animation: animatedBackgroundColor 2.5s ease-out normal;
  }
});