<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="<%= _.escape(obj.metaDescription || '') %>" />

    <title><%= _.escape(obj.title || '') %></title>

    <% _.forEach(styleSheets, function(styleSheet) { %>
    <link rel="stylesheet" href="<%- styleSheet %>" />
    <% }); %>
  </head>

  <body class="body--themed">
    <div id="__app__"><%= obj.contents %></div>

    <!-- Prepare UMD container -->
    <script>
      window.exports = {};
    </script>

    <!-- Megadoc core scripts -->
    <% _.forEach(coreScripts, function(script) { %>
    <script type="text/javascript" src="<%- script %>"></script>
    <% }); %>

    <!-- Re-export common modules into MEGADOC_PUBLIC_MODULES -->
    <script type="text/javascript" src="<%- commonModuleScript %>"></script>
    <script>
      window.MEGADOC_PUBLIC_MODULES = exports['megadoc__common'];
    </script>

    <!-- Collect plugin script exports -->
    <% _.forEach(pluginScripts, function(script) { %>
    <script type="text/javascript" src="<%- script %>"></script>
    <% }); %>

    <!-- Load the plugins and start the client -->
    <script>
      window.MEGADOC_PLUGINS = Object.keys(exports)
        .filter(function(key) {
          var obj = exports[key];

          return (
            obj &&
            typeof obj === 'object' &&
            typeof obj.name === 'string' &&
            /megadoc-(theme|plugin)-/.test(obj.name)
          );
        })
        .map(function(key) {
          return exports[key];
        })
      ;

      exports['megadoc'].startApp(Object.assign({}, exports['megadoc__config'], {
        startingDocumentUID: "<%- obj.startingDocumentUID || null %>",
        plugins: window.MEGADOC_PLUGINS,
      }));
    </script>
  </body>
</html>
